<div class="container-fluid">
	<div class="row headlog">
		<div class="col-sm-6 dclogo">
            <app-brand-logo></app-brand-logo>
		</div>
		<div class="col-sm-6 text-center btns">
			<app-navbtns></app-navbtns>
		</div>
	</div>
	<div class="row dash ">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<h1 class="zerofees">Zero Fees.* <span><img src="" alt=""></span> </h1>
			<p class="apply" >Apply. Click. Approved.</p>
			<p class="lines" >You have a choice of over 150 institutional lenders and over 60 private lenders offering low rates and reduced fees competing for your loan in a fast and convenient application process.</p>
			<p class="wait" >What are you waiting for?</p>
			<div class="row">
				<button class="btn btn-lg btn-success begbtn" [routerLink]="['/Applicant/Mortgage/Application']" >Begin Application</button>
				<small class="smzero">(*Zero fees for loans under $50,000, you only pay the legal fees of no more than $500 )</small>
			</div>
		</div>
		<div class="col-sm-4"></div>

	</div>
</div>