.headlog
{
    padding-top: 20px;
}
.dclogo
{
    padding-top: 25px;
}
.btns
{
    padding-top: 40px;
}

.dash
{
    padding-top: 80px;
}
.zerofees
{
    font-family:'myriad-light';
    color: #2f3954;
    letter-spacing: +1.25px;
    font-size: 95px;
}
.apply
{
    color: #2f3954;
    padding-top: 30px;
    font-size: 55px;
    letter-spacing: -1.25px;
    font-family: 'myriad-pro';
}
.lines
{
    color: #2f3954;
    padding-top: 40px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'myriad-light';
}
.wait
{
    color: #2f3954;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'myriad-light';
}
.begbtn
{
    font-weight:bold;
    width: 290px;
    font-family: 'Segoe UI';
    border-radius: 80px;
    height: 60px;
    background-color: #fccc34;
    border-color: #fccc34;
    color:black;
}
.begbtn:focus, .begbtn:active
{
    background-color: #f7ca37f3 !important;
    border-color: #f7ca37f3 !important;
    color:black !important;
    box-shadow: none !important;
}
.smzero
{
    color: #2f3954;
    padding-top: 40px;
    font-family: 'myriad-light';
    padding-bottom: 20px;
}