.numb
{
    padding-top: 110px;
}
.list-group-item
{
    font-family: 'myriad-light';
    font-weight: 400;
    font-size: 40px;
    color: #595a5a;
    margin-left: 30px;
    margin-right: -40px;
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    border-color: none;
    border: none;
    background-color: transparent!important;
}
.lendHead
{
    padding-top: 50px;
}
.contentDiv
{
    padding-top: 10px;
    background-color:transparent;
    height: 520px;
}
.contentBox
{
    padding-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;;
    border-radius: 28px;
    box-shadow: 5px 10px 6px #00000029;
    width: 100%;
    opacity: 1;
}
.formfield
{
    height: max-content;
}
.sideLine
{
    border-top-left-radius: 40px;
    height:660px;
    width: max-content;
    background-color: #ffc82d;
}
.active
{
    font-family: 'myriad-pro';
    font-weight: bolder;
    border-radius: 80px;
    margin-bottom: 10px;
    border-color: #f4f5f6;
    background-color: #f4f5f6!important;
}
.pageheading
{
    font-family: 'myriad-light';
    margin-left: 100px;
    color: black;
    padding-top: 10px;
    font-size: 25px;
}
label{
    font-family: 'myriad-pro';
    font-size: 28px;
    font-weight: 500;
}
label.smlabel
{
    padding-bottom: 8px;
    font-family: 'myriad-pro';
    font-size: 22px;
    font-weight: 500;
}

/* dropdown */

input:read-only {
    background-color: transparent;
}
.ulparent
{
    margin: 0%;
    width: 90%;
    border: none;
    background-color:white !important;
}
.spl
{
    width: 65% !important;
}

.dropdown-item
{
    height: 50px;
    font-size: 20px;
    padding: 20px;
    color: #595a5a;
    font-family: 'myriad-light';
    text-transform: uppercase;
    border-bottom: 0.5px #b1b0b0 solid ;
}
.dropdown-item:active
{
    color:white;
    text-transform: uppercase;
    background-color: #ffc82d;
}
/* dropdown */

.inpfield
{
    padding-top: 40px;
    justify-content: center;
}


/* Slider Range */
.quesBox
{
    padding-top: 50px;
}
.rangesides
{
    font-family: 'myriad-light';
    color:#3556fd;
    padding-top: 5px;
    font-size: 25px;
}
.inprange
{
    padding-top: 20px;
    margin: 0;
    width: 100%;
}
.inpbar
{
    height: 60px !important;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: black;
    outline: none;
}
.slider:hover {
    opacity: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius:50%;
    height: 25px;
    border: 5px #FF800074 solid;
    background: #ff8000;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    border-radius:50%;
    height: 25px;
    border: 5px #FF800074 solid;
    background: #ff8000;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    cursor: pointer;
}
/* Slider Range */


/* Select with Arrow */
select, input
{
    font-family: 'myriad-light';
    color: #595a5a;
    width: 100%;
    text-transform: uppercase;
    border-color:#707070 ;
    border-radius: 18px;
}
select:focus, input:focus
{
    border-color: #ffc82d;
    box-shadow:  0 1px 1px rgba(175, 51, 51, 0.075) inset, 0 0 4px #ffc82d;
    outline: 0 none;
}
input.sp{
    height:50px !important;
    width: 70% !important;
    font-size: 20px !important;
}
.arrow
{
    background-image:
    linear-gradient(45deg, transparent 50%, #ff8000 50%),
    linear-gradient(135deg, #ff8000 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 25px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.8em) 0.5em;
    background-size:
    9px 9px,
    10px 9px,
    0px 0.5em;
    background-repeat: no-repeat;
}

.arrow:focus {
    background-image:
    linear-gradient(45deg, #ff8000 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ff8000 50%),
    linear-gradient(to left, #ccc, #ccc);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 25px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size:
    10px 9px,
    9px 9px,
    1px 1.5em;
    background-repeat: no-repeat;
    border-color:#ffc82d;
    outline: 0;
}
/* Select with Arrow */

/* Upload Box */
.uploadRow{
    padding-top: 50px;
}
.uploadBox
{
    height: 300px;
    width: 350px;
    border: 1px #3556fd solid;
    border-radius: 25px;
}
/* Upload Box */

/* Buttons */
.formbtn
{
    padding-top: 20px;
    margin: 0%;
    justify-content: center;
}
.prevbtn, .nextbtn, .subbtn, .skipi
{
    font-family: 'myriad-pro';
    font-size: 16px;
    width: 130px;
    height: 33px;
    color: white;
    border-style: solid;
    border-radius: 18px;
    font-weight: 600;
    
}
.prevbtn
{
    border-color:#ff8000;
    background-color:#ff8000;
}
.skipi{
    background-color: #2fccdd;
    border-color: #2fccdd;
}
.skipi:focus, .skipi:active
{
    background-color: #2fccdd !important;
    border-color: #2fccdd !important;
    box-shadow: none !important;
}
.prevbtn:active, .prevbtn:focus
{
    border-color: #ff8000 !important;
    background-color: #ff8000 !important;
    box-shadow: none !important;
}
.nextbtn
{
    border-color:#3556fc ;
    background-color: #3556fc;
}
.nextbtn:active, .nextbtn:focus
{
    border-color: #3556fc !important ;
    background-color: #3556fc !important;
    box-shadow: none !important;
}
/* Buttons */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
