<div class="row">
    <div class="col-sm-1 sideLine">
        <div class="row numb">
            <ul class="list-group text-center">
                <li class="list-group-item" [class.active]="display == 1">1</li>
                <li class="list-group-item" [class.active]="display == 2">2</li>
                <li class="list-group-item" [class.active]="display == 3">3</li>
                <li class="list-group-item" [class.active]="display == 4">4</li>
                <li class="list-group-item" [class.active]="display == 5">5</li>
                <li class="list-group-item" [class.active]="display == 6">6</li>
                <li class="list-group-item" [class.active]="display == 7">7</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-11 fullbase">
        <div class="row lendHead">
            <div class="col-sm-6">
                <p class="pageheading"><img class="img-fluid card-img" src="" alt="pic"> {{hd}} </p>
            </div>
            <div class="col-sm-6 text-center">
                <app-navbtns></app-navbtns>
            </div>
        </div>
        <div class="row contentDiv">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 contentBox">
                <form [formGroup]="mortgageApplication"  (ngSubmit)="submit()">
                <div class="row formfield">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <!--Content Here-->
                        <div class="row first text-center" *ngIf="display ==  1" >
                            <div class="row">
                                <div class="form-group">
                                    <label for="borrowAmount">How much Money are you looking to Borrow?</label>
                                    <div class="row rangeBox">
                                        <input type="range" class="form-control-range slider" 
                                        formControlName = "borrowAmount" 
                                        [value]="mortgageApplication.controls['borrowAmount'].value"
                                        min="1" 
                                        step="1" 
                                        max="2000000" >
                                        <p class="rangesides"> <span class="float-left">$0</span>  <span class="float-right">$2M+</span>  <p>
                                        <div class="row inprange">
                                            <input type="number" 
                                                class="form-control inpbar" 
                                                formControlName="borrowAmount" 
                                                [value]="mortgageApplication.controls['borrowAmount'].value" 
                                                min="1" 
                                                step="1" 
                                                max="2000000">
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row formbtn">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-sm btn-danger prevbtn" *ngIf="display == 1" [routerLink]="['/Applicant']" >Back</button>
                        <button class="btn btn-sm btn-danger prevbtn" *ngIf="display != 1" (click)="prev()" >Back</button> &nbsp;
                        <button class="btn btn-sm btn-primary nextbtn " *ngIf="display != 7" (click)="next()" >Next</button>
                        <button class="btn btn-sm btn-success subbtn" *ngIf="display == 7"  [disabled]="!mortgageApplication.valid" >Finish</button>
                    </div>
                </div>
                </form>          
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
