@font-face {
    font-family: "Myriad";
    src: local("Myriad-Reg"), url(./assets/fonts/MyriadProRegular.ttf) format("truetype");
}
.body
{
    background-color: #f4f5f6;
    font-family: 'Myriad' ;
}
